@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap&subset=latin-ext');
@import '../containers/Nav/nav.scss';
@import '../containers/Main/Main.scss';
@import '../components/Header/header.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;


  // background-color: #243B52;

  outline: red 1px solid;
}

li {
  list-style: none;
}
