/*
  TOC:
  I. Palette
  II. Font
  III. Components
  IV. Containers
*/


// * Palette
$background-main: #F7F7F7;
$background-accent: #EBEBEB;

$primary-main: #68AB87;
$primary-accent: #6DAF8B;
$primary-dark: #36746F;


$font-stack:    Helvetica, sans-serif;
