nav {
  @include flex( row, flex-end);
  height: 5%;
  background-color: #E0EBE8;
  & .selected {
    color: #265B4F;
    transition: color 0.5s, text-decoration;
  }
  & div {
    @include flex( row, space-around);
    width: 300px;
    margin: auto 0;
  }
  a {
    padding: 4px;
    height: 20px;
    text-decoration: none;
    transition: color 0.5s;
    color: rgb(86, 181, 155);

  }
  a:hover{ 
    color: rgb(40, 97, 84);
    transition: color 0.5s;
  }
}
