nav {
  background-color: #E0EBE8;
  @include flex( row, flex-end);
  padding:30px;

  & div {
    @include flex( row, space-around);
    width: 300px;
    padding: 10px;
  }
  a {
    padding: 4px;
    color: #4AB19A;
    text-decoration: none;
  }
}
