nav {
  height: 5%;
  z-index: 2;
  min-height: 30px;
  align-content: center;
  animation: fadeIn 2s;
  @include flex(row, flex-start)
  & section {
    padding: 10px;
    & a {
      font-size: 20px;
      margin: 0 20px;
    }
  }
  & .selected {
    color: #3F8EE1;
    transition: transform 0.5s, color 0.5s;

  }
  & div {
    display: none;
  }

  & span {
    font-weight: bold;
    display: none;

    letter-spacing:3px;
    border-bottom: 2px solid white;
  }

  & a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 20px 0px;
    font-size: 26px;
    font-weight:lighter;
    text-decoration: none;
    transition: transform 0.5s;
    color: rgb(32, 32, 32);

  }
  & a:hover { 
    transform: translateX(10px);
    transition: transform 0.5s;
  }
}

.logo {
  position: absolute;
  font-size: 38px;
  padding: 10px 25px;
  font-weight: bolder;
}
/* Position and sizing of burger button */
.bm-burger-button {
  float: right;
  position: relative;
  width: 22px;
  height: 20px;
  right: 14px;
  top: 8px;
  transition: color 0.5s;

  & button:focus {
    outline: none;
  }
  & button:hover {
    transition: color 0.5s;

    color: #3F8EE1;
  }
}
.bm-burger-button:focus{
  outline: none;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    opacity: 1 !important;
    background: #3F8EE1;
    transition: background 0.3s;

}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 48px;
  width: 48px;
  & button:focus {
    outline: none;
  }
  & button:hover {
    transition: color 0.5s;

    color: #3F8EE1;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(219, 219, 219);
  transition: background-color 0.5s;
  width: 48px;
  height: 48px;


}

.bm-cross:focus {
  background-color: #3F8EE1;
  outline: none;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  // position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #4e515e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  & button:hover {
    color: #3F8EE1;
    transition: color 0.5s;
  }

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
.bm-icon {
  width: 48px;
  height: 48px;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  background: #4e515e;
  @include flex(column, flex-start)

}

/* Individual item */
.bm-item {
  color: white;
  display: inline-block;
  padding: 10px 0;
}
.bm-item:focus {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 750px) {
 nav {
   display: block;
   & section {
     display: none;
   }
   & div {
     & span {
       display: block;
     }
     display: block;
   }
 }
}