.about-container {
  overflow: scroll;
  height: 95vh;
  & div {
    height: 30%;
    background-color: #E0EBE8;
    color: #38A487;
    & h2 {
      animation: fadeIn 0.35s forwards;
    }
    & .abt-sec-1 {
      
    }
  }
  & section {
    overflow: auto;
    height: 50%;
    color: #38A487;
    & img {
      height: 160px;
      width: 160px;
    }
  }
}