.about-container {
  height: 95vh;

  & div {
    & h2 {
      animation: fadeIn 0.35s forwards;
    }
  }
    & .abt-sec-1 {
      animation: fadeIn 0.35s forwards;
      @include flex(column, center);
      align-items: center;
      h3 {
        font-size: 35px;
      }
      & p {
        text-align: center;
        font-size: 19px;
      }
    }
  
  & section {
    padding: 20px;
    color: #38A487;
    & img {
      height: 160px;
      width: 160px;
    }
  }
}