main {
  height: 95%;
  @include flex(row, center);
  align-items: center;
  width:100%;

  & .main-parent-container {
    @include flex(column, center);
    align-items: center;

    animation: fadeIn 3s forwards;
    @include inheritHW();
    & .info-container {
      & span {
        font-size: 1.4em;
        width: 300px;
        line-height: 32px;
        & span {
          font-size: 1.1em;
        }
      }
      height: 40%;
      width: 600px;
      @include flex(column, center);
      & section {
      height: 150px;

        @include flex(column, space-between);
        width: 400px;
          & div {
            width: 200px;
          }
      }
      & div {
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        & a {
          color: #F26565;
          padding: 10px 12px;
          border: 2px solid #F26565;
          border-radius: 50%;
          transition: background-color 0.3s;

        }
        & a:hover {
          background-color: rgb(243, 243, 243);
          transition: background-color 0.3s;
        }
      }
    }
   & .image-container {
    @include flex(column, flex-end);
    overflow: hidden;
    height: 45%;
    max-width: 1200px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    }
  }

}

@media only screen and (max-width: 750px) {

}
@media only screen and (max-width: 400px) {

}