main {
  height: 95%;
  @include flex(column, center);
  align-items: center;
  & div {
    @include inheritHW;
    text-align: center;
    font-weight: lighter;
       & h1 {
         animation: fadeIn 0.75s forwards;
         color: #38A487;
         font-size: 60px;
         padding-bottom: 10px;
       }
       & h2 {
        animation: fadeIn 0.75s forwards;
         padding-top: 10px;
         font-size: 22px;
         color: #38A487;
       }
  }
    & .main-top {
    align-items:flex-end;
    @include flex(row, center);
    background-color: #E0EBE8;
    height: 24%;
  }
    & .main-bottom {
      background-color: rgb(255, 255, 255);
      height: 70%;

  }
  & .main-btn-cntr {
    @include flex(center, row);
    @include inheritHW();
  }
}

