main {
  height: 95%;
  @include flex(row, center);
  align-items: center;
  width:100%;
  & h1 {
    font-size: 4em;
  }
  & .main-parent-container {
    @include flex(column, center);
    animation: fadeIn 3s forwards;
    @include inheritHW();
    & .info-container {
      height: 40%;
      @include flex(column, center);
      align-items: center;
      & section {
        transform: translateX(20%);
        height: 200px;
        @include flex(column, space-between);

      }
      & div {
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        & a {
          color: #F26565;
          padding: 5px;
        }
      }
    }
   & .image-container {
    @include flex(column, flex-end);
    overflow: hidden;
    height: 60%;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
  }

}

@media only screen and (max-width: 750px) {

}
@media only screen and (max-width: 400px) {

}