header {
  padding-bottom: 50px;
  background-color: #E0EBE8;

  & section {
    color: #4AB19A;


    & h1{
      font-size: 72px;
      padding: 20px;
      @include flex(row, center);
    }
    p {
      @include flex(row, center);
      padding: 5px;
      font-size:20px;
    }
  
  }
  .header-img-container {
    @include flex(row, center);
      background-color: #243B52;
      max-height: 700px;

    
   & img {
      width: 70%;
      height: 70%;
      object-fit: contain;
      max-height:500px;
     
    }
 
}

}