header {
  @include flex(row, center);
  padding:20px;
  font-size: 40px;
  align-items: center;
  font-weight: lighter;
  color: #38A487;
  width: 100%;

}

 .header-main {
  @include flex(row, center);
  align-items: flex-end;
  background-color: #E0EBE8;
  height: 24%;

}