.lrg-btn {
  @include flex(row, center);
  align-items: center;
  & button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #38A487;
    font-size: 18px;
    border: #38A487 2px solid;
    background-color: #E0EBE8;
    transition: background-color 1s, color 1s;


 
  }
  & button:hover {
    background-color: #38A487;
    color: #E0EBE8;

    transition: background-color 1s, color 1s;

  }
}
